*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
apk/
greendao/gen/
comic/src/main/java/com/jj/comics/greendao/gen/
.idea/
subsampling/build
apk0110
bakApk
apk_release
